[submodule "write-your-own-redux"]
	path = write-your-own-redux
	url = https://gist.github.com/phryneas/44ca82b09dd226cca3bf9d71b709c8fd
[submodule "webpack-demo"]
	path = webpack-demo
	url = https://github.com/phryneas/webpack-demo
[submodule "vim-intro"]
	path = vim-intro
	url = https://github.com/iimog/vim-intro-devcamp18
